<h1>registrate</h1>
<form action="/guardar" method="post" enctype="multipart/form-data">
   <ul style="list-style-type: none;">
       <li>
           <input type="file" name="avatar">
       </li>
       <li>
           <input name="correo" placeholder="foo@ejemplo.com">
       </li>
       <li>
           <input name="alias" placeholder="alias/nickname/apodo">
       </li>
       <li>
           <input type="number" name="edad" placeholder="mayor a 21">
       </li>
       <li>
           <input name="clave" placeholder="ingresa una clave">
       </li>
   </ul>
   <button type="submit">guardar</button>
</form>