<body style="background: silver">
  <h1>login</h1>
  <form action="/login" method="post">
    <ul style="list-style-type: none">
      <li>
        <input name="correo" placeholder="foo@ejemplo.com" />
      </li>
      <li>
        <input name="clave" placeholder="ingresa una clave" />
      </li>
    </ul>
    <button type="submit">entrar</button>
  </form>
</body>
